.grid-container {
  display: flex;
  background-color: black;
  height: 1000px;
  width: 1000px;
  flex-wrap: wrap; /* organizes the divs in a square i.e 16X16 in this case*/
}

.grid-box {
  background-color: cyan;
  width: calc(100% / 16);
  height: calc(100% / 16);
  box-sizing: border-box;
  border: 1px solid black;  
}
